
.container{
  width: 500px;
  border: 1px solid black;
  height: 400px;

  display: flex;

  justify-content: flex-start;
  align-items: stretch;

  /* 주축 방향을 지정하고 속성 */
  /* row(default) : 주측을 가로로 설정(item들이 가로로 배치) */
  /* column : 주측이 세로로 설정(item들이 세로로 배치) */
  /* flex-direction: column; */
}

.item{
  border: 1px solid red;
  /* flex-grow: 1; */
}



