.d1{
  border: 1px solid red;
  background-color: aqua;
}

.d2{
  color: blue;
}




.dd{
  border: 1px solid green;
  background: tan;
  color: cornflowerblue;
}

.d3{
  color: blanchedalmond;
}

.d4{
  color: orange;
}

