.btn{
  padding: 4px 16px;
  font-size: 0.7rem;
  background-color: rgba(13, 160, 8, 0.7);
  color: white;
  border: none;
  border-radius: 4px;
  transition: all 0.3s;
}

.btn:hover{
  background-color: rgba(13, 160, 8, 0.9);
}

.small{
  width: 80px;
}
.normal{
  width: 100px;
}
.large{
  width: 120px;
}
